@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --color-main-light: #ffffff;
  --color-second-light: #e6dcdc;
  --color-light-gray: #545454;
  --color-dark-gray: #333333;
  --color-light-violet: #ea4fe7;
  --color-dark-violet: #bf35bc;
  font-size: 16px;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--color-dark-gray);
  background-color: var(--color-main-light);
}

/*_______________________________________________*/
/*  Re-usable styles  */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color-dark-gray);
}

h1 {
  font-size: 3.3rem;
  line-height: 0.9;
  padding: 1rem 0;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  padding-bottom: 3rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

.btn {
  padding: 15px 50px;
  font-family: inherit;
  font-size: 100%;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 2;
  border: 0;
  text-align: center;
}

.page {
  display: flex;
  height: auto;
  min-height: 15rem;
}

.page:nth-child(even) {
  color: var(--color-main-light);
}

.page:nth-child(even) a {
  color: var(--color-main-light);
}

.page:nth-child(odd) {
  color: var(--color-dark-gray);
}

.page:nth-child(odd) a {
  color: var(--color-dark-gray);
}

.page-contents {
  width: 60%;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.navbar {
  display: flex;
  justify-content: center;
  z-index: 300;
}

/*_______________________________________________*/
/*  Tables  */
table {
  width: 100%;
  background: var(--color-main-light);
  color: var(--color-dark-gray);
  border-collapse: collapse;
  position: relative;
}

table thead {
  border-bottom: 2px solid var(--color-dark-gray);
}

table thead th {
  padding: 10px;
}

table tbody tr td {
  text-align: center;
  padding: 10px;
  border: 1px dotted var(--color-light-gray);
}

table tbody tr td:first-child {
  border-left: none;
}

table tbody tr td:last-child {
  border-right: none;
}

table tbody tr td.workshop a {
  padding: 10px;
  font-size: 1.2rem;
  display: block;
  width: 100%;
  height: 100%;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

table tbody tr td.workshop a:hover {
  border-radius: 5%;
  background: rgba(234, 77, 231, 0.158);
}

table tbody tr td.time {
  text-align: center;
  opacity: 0.6;
}

/*_______________________________________________*/
/*  Website Container  */
#website-container {
  display: flex;
  flex-direction: column;
}

/*_______________________________________________*/
/*  Main Navigation  */
#main-navbar {
  width: 100%;
  position: fixed;
  flex-wrap: wrap;
  z-index: 400;
  height: auto;
  min-height: 2rem;
}

#main-navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: black;
  opacity: 0.7;
}

#main-navbar a {
  color: var(--color-main-light);
}

#main-navbar .nav-items {
  height: 100%;
  width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: var(--color-main-light);
}

#main-navbar .nav-items .logo {
  font-weight: 600;
  font-size: 2rem;
}

#main-navbar .nav-items .logo a:hover {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  color: transparent;
  background: linear-gradient(var(--color-light-violet), var(--color-main-light)) text;
}

#main-navbar .nav-items ul {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

#main-navbar .nav-items ul li {
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
}

#main-navbar .nav-items ul li a {
  position: relative;
}

#main-navbar .nav-items ul li a::before {
  content: "";
  width: 50%;
  position: absolute;
  bottom: 0;
  border-bottom: 2px solid transparent;
  transform: translate(-50%);
}

#main-navbar .nav-items ul li a:hover {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  color: transparent;
  background: linear-gradient(var(--color-light-violet), var(--color-main-light)) text;
}

#main-navbar .nav-items ul li a:hover::before {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.1, 3);
  border-color: var(--color-main-light);
  transform: translate(0%);
}

/*_______________________________________________*/
/*  Home page  */
#welcome-page {
  width: 100%;
  min-height: 100vh;
  background: fixed url("../img/main_photo.jpg") center/cover;
  z-index: 0;
  position: relative;
}

#welcome-page::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 15rem;
  z-index: 10;
  background: fixed radial-gradient(farthest-side at 30vw 30vh, var(--color-light-violet), transparent 40vw), radial-gradient(farthest-side at bottom left, #01a5cf, transparent), radial-gradient(farthest-side at top right, #66c636, transparent), radial-gradient(farthest-corner at bottom left, var(--color-light-violet), transparent);
  opacity: 0.4;
}

#welcome-page .welcome-text > * {
  position: relative;
  z-index: 200;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.2, 1.7, 0.3, 1.05);
}

#welcome-page .welcome-text > *:first-child {
  animation-name: slide-in-1;
}

#welcome-page .welcome-text > *:last-child {
  animation-name: slide-in-2;
}

@keyframes slide-in-1 {
  0% {
    color: transparent;
    left: 20%;
  }
  100% {
    color: var(--color-main-light);
    left: 0;
  }
}

@keyframes slide-in-2 {
  0% {
    color: transparent;
    left: 30%;
  }
  100% {
    color: var(--color-main-light);
    left: 0;
  }
}

#welcome-page .welcome-text p {
  font-weight: 500;
  font-size: 2rem;
}

#welcome-page .navbar {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 1170px;
  justify-content: flex-start;
  height: 85%;
  bottom: 5%;
}

#welcome-page .navbar .socials {
  padding: 1vh 0;
  display: flex;
  padding-left: 0.9rem;
  flex-direction: column;
  align-items: center;
  animation-duration: 1.3s;
  animation-timing-function: cubic-bezier(0.1, 0.3, 0.4, 1);
  animation-name: fade-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#welcome-page .navbar .socials a:hover {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  color: transparent;
}

#welcome-page .navbar .socials a:hover:first-child {
  background: linear-gradient(#4652ff, #0c00b4) text;
}

#welcome-page .navbar .socials a:hover:nth-child(2) {
  background: linear-gradient(#c76a00, #bd00b0, #680091) text;
}

#welcome-page .navbar .socials a:hover:last-child {
  background: linear-gradient(#c51414, #800000) text;
}

#welcome-page .navbar .socials::before, #welcome-page .navbar .socials::after {
  content: "";
  height: 100%;
  border-left: 2px solid var(--color-main-light);
  opacity: 0.4;
}

#welcome-page .navbar .socials a:first-child {
  margin-top: 15px;
}

#welcome-page .navbar .socials a:last-child {
  margin-bottom: 15px;
}

/*_______________________________________________*/
/*  About Us page  */
#about-page {
  flex-wrap: wrap;
  align-content: space-evenly;
  justify-content: space-between;
  padding: 3rem 0 4rem;
  height: 100vh;
  min-height: 40rem;
}

#about-page > * {
  padding: 1rem;
}

#about-page .about-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 50%;
  justify-items: center;
  flex: 3 3 50%;
}

#about-page .about-text > * {
  padding: 0.4rem 0;
}

#about-page .about-text h2 {
  margin-bottom: 0.7rem;
}

#about-page .about-text .btn {
  margin-top: 1.4rem;
  align-self: stretch;
  border: 1px solid var(--color-dark-gray);
}

#about-page img {
  object-fit: cover;
  flex: 1 1 50%;
}

#about-page img#photo1 {
  flex: 1 1 50%;
  width: 50%;
  max-height: 40%;
  object-position: 50% 30%;
  order: -1;
}

#about-page img#photo2 {
  max-width: 35%;
}

/*_______________________________________________*/
/*  Motto page  */
#motto-page {
  position: relative;
  width: 100%;
  min-height: 18em;
  padding: 3rem 0;
  background: fixed url("../img/main_photo.jpg") center/cover;
  z-index: 0;
  justify-content: center;
  align-items: center;
}

#motto-page::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 18em;
  z-index: 10;
  background: black;
  opacity: 0.7;
}

#motto-page .page-contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

#motto-page .page-contents > h3 {
  padding: 1.5rem;
}

#motto-page .page-contents h3 {
  text-transform: uppercase;
}

#motto-page .page-contents a {
  color: var(--color-dark-gray);
  opacity: 0.7;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

#motto-page .page-contents a:hover {
  opacity: 1;
}

#motto-page .page-contents a .btn {
  color: var(--color-dark-gray);
  background: var(--color-main-light);
}

/*_______________________________________________*/
/*  Schedule page  */
#schedule-page {
  padding: 5rem 0 7rem;
}

/*_______________________________________________*/
/*  Pricing page  */
#signup-page {
  padding: 3rem 0 4rem;
  color: var(--color-dark-gray);
  background-color: var(--color-second-light);
  width: 100%;
  min-height: 35rem;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-evenly;
}

#signup-page > h2, #signup-page > p, #signup-page form {
  width: 50%;
  display: flex;
  margin: 0 auto;
  padding: 0.5rem;
}

#signup-page > h2 {
  flex: 1 1 10%;
}

#signup-page > p {
  flex: 1 1 10%;
  font-size: 1.1rem;
}

#signup-page a {
  color: var(--color-dark-gray);
}

#signup-page form {
  flex: 5 5 80%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
}

#signup-page form input, #signup-page form select {
  font-size: 1.05rem;
  font-family: inherit;
  padding: 5px;
  border: 1px solid var(--color-dark-gray);
  appearance: none;
}

#signup-page form input, #signup-page form select, #signup-page form .btn {
  width: 100%;
  margin: 5px auto;
}

#signup-page form .btn {
  background-color: var(--color-dark-gray);
  color: var(--color-main-light);
}

/*_______________________________________________*/
/*  Contact page  */
#contact-page {
  padding: 3rem 0 4rem;
}

#contact-page i {
  font-size: 3rem;
}

#contact-page .contact-options {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#contact-page .contact-options > * {
  display: flex;
  align-items: center;
  flex: 1 1 50%;
  justify-content: center;
}

#contact-page .contact-options > * > * {
  padding: 0.5rem;
}

/*_______________________________________________*/
/*  Footer  */
footer.page {
  min-height: 6em;
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-second-light);
  background-color: var(--color-dark-gray);
  font-size: 0.8rem;
}

footer.page p {
  text-align: center;
}

footer.page a {
  text-transform: uppercase;
  font-weight: 600;
}

footer.page a:hover {
  opacity: 0.7;
}

/*_______________________________________________*/
/*  Media Queries  */
@media only screen and (max-width: 1200px) {
  .logo, nav li {
    padding: 10px;
  }
  .page-contents {
    width: 85%;
  }
}

@media only screen and (max-width: 630px) {
  .nav-items {
    flex-direction: column;
  }
  #main-navbar {
    position: absolute;
  }
  #motto-page .page-contents {
    flex-direction: column;
  }
  .contact-options {
    flex-wrap: wrap;
  }
  #photo1 {
    display: none;
  }
}
