@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --color-main-light: #ffffff;
    --color-second-light: #e6dcdc;
    --color-light-gray: #545454;
    --color-dark-gray: #333333;
    --color-light-violet: #ea4fe7;
    --color-dark-violet: #bf35bc;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark-gray);
    background-color: var(--color-main-light);
}



/*_______________________________________________*/
/*  Re-usable styles  */

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--color-dark-gray);

    &.more-info {
        text-transform: uppercase;
        
        &:hover {
            content : "";
            width: 50%;
            border-bottom: 2px solid var(--color-dark-gray);
        }
    }
}

h1 {
    font-size: 3.3em;
    line-height: 0.9;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    padding-bottom: 3rem;
}

h3 {
     font-size: 1.8rem;   
}

h4 {
    font-size: 1.4rem;
}

.btn {
    padding: 15px 50px;
    // margin: 3rem;
    font-family: inherit;
    font-size: 100%;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 2;
    border: 0;
}

.page {
    // width: 60%;
    // height: 100vh;
    // padding: 1rem 0;
    // border: 1px solid blue;
    min-height: auto;

    &:nth-child(even) {
        color: var(--color-main-light);
        a {
            color: var(--color-main-light);
        }
    }
    
    &:nth-child(odd) {
        color: var(--color-dark-gray);
        a {
            color: var(--color-dark-gray);
        }
    }
}


.page-contents {
    // position: relative; 
    // z-index: 10000;
    max-width: 56%;
    margin: 0 auto;
    height: 100vh;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // border: 1px solid yellow;
    flex-wrap: wrap;
}

.navbar {
    display: flex;
    justify-content: center;
    z-index: 100;
    // border: 3px solid blue;
}

/*_______________________________________________*/
/*  Tables  */

table {
    width: 100%;
    background: var(--color-main-light);
    color: var(--color-dark-gray);
    border-collapse: collapse;
    position: relative;

    thead {
        width: 100%;
        border-bottom: 2px solid var(--color-dark-gray);

        th {
            padding: 10px;
            
            &:first-child{
                width: 10%;
            }
        }
    }
    tbody {
        tr {
            td {
                text-align: center;
                padding: 10px;
                border: 1px dotted var(--color-light-gray);
                
                &:first-child {
                    border-left: none;
                }
                
                &:last-child {
                    border-right: none;
                }
                
                &.workshop {
                    a {
                        padding: 10px;
                        font-size: 1.2rem;
                        display: block;
                        width: 100%;
                        height: 100%;

                        transition-property: background-color;
                        transition-duration: 1s;
                        transition-timing-function: ease-in;

                        &:hover {
                            // color: var(--color-dark-violet);
                            border-radius: 5%;
                            background: hsla(301, 79%, 61%, 0.158);
                        }
                    }
                }

                &.time {
                    text-align: center;
                    opacity: 0.6;
                }
            }
        }
        
    }
}

/*_______________________________________________*/
/*  Website Container  */

#website-container {
    display: flex;
    flex-direction: column;
    // border: 4px solid magenta;
}

/*_______________________________________________*/
/*  Main Navigation  */

#main-navbar {
    width: 100%;
    position: fixed;
    flex-wrap: wrap;

    a {
        color: var(--color-main-light);
    }

    .nav-items {
        // border: 2px solid yellow;
        width: 1170px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        color: var(--color-main-light);
        
        .logo {
            font-weight: 600;
            font-size: 2rem;
            
            &:hover {
                opacity: 0.9;
                // text-shadow: 0 0 5px var(--color-main-light);
            }
        }
        
        ul {
            height: 100%;
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            
            li {
                height: 100%;
                padding: 1rem;
                display: flex;
                justify-content: flex-start;
                
                a {
                    &:hover {
                        // position: fixed;
                        content : "";
                        // width: 50%;
                        border-bottom: 2px solid var(--color-main-light);
                    }
                }
            }
        }
    }
}

/*_______________________________________________*/
/*  Home page  */

#welcome-page {
    width: 100%;
    height: 100vh;
    background: fixed url("../img/main_photo.jpg") center/cover;
    z-index: -20;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: -10;
        // background: linear-gradient(50deg, #66c636, #e94fdf, #01a5cf);
        background: fixed
            radial-gradient(
                farthest-side at 30vw 30vh,
                var(--color-light-violet), 
                transparent 40vw
                ),
            radial-gradient(
                farthest-side at bottom left,
                #01a5cf, 
                transparent
                ),
            radial-gradient(
                farthest-side at top right,
                #66c636, 
                transparent
                ),
            radial-gradient(
                farthest-corner at bottom left,
                var(--color-light-violet), 
                transparent
                );
        opacity: 0.4;
    }

    .welcome-text {

        p {
            font-weight: 500;
            font-size: 2rem;
        }
    }
    
    .navbar {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        max-width: 1170px;
        justify-content: flex-start;
        height: 80%;
        bottom: 5%;
        
        .socials {
            padding: 1vh 0;
            display: flex;
            padding-left: 0.9rem;
            // border: 2px solid yellow;
            flex-direction: column;
            align-items: center;

            &::before, &::after {
                content: "";
                height: 100%;
                border-left: 2px solid var(--color-main-light);
                opacity: 0.4;
            }

            a:first-child {
                padding-top: 15px;
            }

            a:last-child {
                padding-bottom: 15px;
            }

        }
    }
    

}

/*_______________________________________________*/
/*  About Us page  */

#about-page {
    // border: 1px solid blue;
    align-content: space-between;
    justify-content: flex-start;
    
    .about-text {
        // border: 1px solid green;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        max-width: 50%;
        max-height: 60%;
        // justify-items: center;
        // padding: 2rem 0;
        flex: 3 3 50%;
        
        h2 {
            // border: 1px solid green;
            flex: 1 1 15%;
        }

        p {
            // border: 1px solid green;
            flex: 3 3 50%;
        }

        a {
            flex: 1 1 15%;
        }
    }
    
    img {
        object-fit: cover;
        
        &#photo1 {
            width: 60%;
            max-height: 30%;
            flex: 1 1 30%;
            object-position: 50% 30%;
            order: -1;
            padding-bottom: 2rem;
        }
        
        &#photo2 {
            width: 35%;
            height: 100%;
            flex: 4 4 100%;
        }
    }
}

/*_______________________________________________*/
/*  Motto page  */

#motto-page {
    position: relative;
    width: 100%;
    height: 50vh;
    background: fixed url("../img/main_photo.jpg") center/cover;
    z-index: -20;
    display: flex;
    justify-content: center;
    align-items: center;

    .page-contents{
        flex-direction: row;
        height: auto;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;

        h3 {
            text-transform: uppercase;
        }
    
        a {
            color: var(--color-dark-gray);
            
            &:hover {
                background: var(--color-light-violet);
            }
            .btn {
                
                color: var(--color-dark-gray);
                background: var(--color-main-light);
            }   
        }
    }

    &::after {
        content: "";
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        background: black;
        opacity: 0.7;
    }


}

/*_______________________________________________*/
/*  Schedule page  */

#schedule-page{
    // padding: 8rem 0;
}

/*_______________________________________________*/
/*  Pricing page  */

#signup-page {
    color: var(--color-dark-gray);
    background-color: var(--color-second-light);
    width: 100%;
    height: auto;
    // padding: 8rem 0;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    
    &>h2, &>p, form{
        width: 50%;
        display: flex;
        margin: 0 auto;
        padding: 0.5rem;
        // border: 1px solid red;
    }
    
    &>h2 {
        flex: 1 1 10%;
    }

    &> p {
        flex: 1 1 10%;
    }

    a {
        color: var(--color-dark-gray);
    }
    
    form {
        flex: 5 5 80%;
        min-height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px 0;

        
        input, select{
            font-size: 1.1rem;
            font-family: inherit;
            padding: 5px;
            border: 1px solid var(--color-dark-gray);
            appearance: none;
        }
        
        input, select, .btn {
            width: 100%;
            margin: 5px auto;
        }
        
        .btn {
            background-color: var(--color-dark-gray);
            color: var(--color-main-light);
        }
    }
}

/*_______________________________________________*/
/*  Footer  */
footer {
    padding: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-second-light);
    background-color: var(--color-dark-gray);
    font-size: 0.8rem;

    a {
        text-transform: uppercase;
        font-weight: 600;
        &:hover {
            opacity: 0.7;
        }
    }
}