@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --color-main-light: #ffffff;
    --color-light-gray: #545454;
    --color-dark-gray: #333333;
    --color-light-violet: #ea4fe7;
    --color-dark-violet: #bf35bc;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark-gray);
    background-color: var(--color-main-light);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--color-dark-gray);
}

/*_______________________________________________*/
/*  Re-usable styles  */
.page {
    max-width: 100vw;
    height: 100vh;
}


.page-contents {
    position: relative; 
    z-index: 0;
    max-width: 1170px;
    margin: 0 auto;  
    height: 100%;
}

.page:nth-child(even) {
    color: var(--color-main-light);

    a {
        color: var(--color-main-light);
    }
}

.page:nth-child(odd) {
    color: var(--color-dark-gray);
    a {
        color: var(--color-main-light);
    }
}

/*_______________________________________________*/
/*  Main Navigation  */

.navbar {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;

    a {
        color: var(--color-main-light);
    }

    .nav-items {
        width: 1170px;
        height: 100%;
        padding: 1vh 1vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        color: var(--color-main-light);
        
        .logo {
            font-weight: 600;
            font-size: 2rem;
            
            &:hover {
                opacity: 0.9;
                // text-shadow: 0 0 5px var(--color-main-light);
            }
        }
        
        ul {
            height: 100%;
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            
            li {
                height: 100%;
                padding: 1.2rem;
                display: flex;
                justify-content: flex-start;
                
                a {
                    &:hover {
                        // position: fixed;
                        content : "";
                        // width: 50%;
                        border-bottom: 2px solid var(--color-main-light);
                    }
                }
            }
        }
    }
}

/*_______________________________________________*/
/*  Home site  */

#welcome-page {
    position: relative;
    background: fixed url("../img/main_photo.jpg") center/cover;
    z-index: -20;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        // background: linear-gradient(50deg, #66c636, #e94fdf, #01a5cf);
        background: fixed
            radial-gradient(
                farthest-side at 30vw 30vh,
                var(--color-light-violet), 
                transparent 40vw
                ),
            radial-gradient(
                farthest-side at bottom left,
                #01a5cf, 
                transparent
                ),
            radial-gradient(
                farthest-side at top right,
                #66c636, 
                transparent
                ),
            radial-gradient(
                farthest-corner at bottom left,
                var(--color-light-violet), 
                transparent
                );
        opacity: 0.4;
    }
        
    .welcome-text {
        // z-index: 50;
        // width: 100%;
        // margin: 0 auto;
        // position: relative;
        // bottom: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 3.3em;
            font-weight: 700;
        }

        p {
            font-weight: 600;
            font-size: 2rem;
        }
    }
    
    .socials {
        position: absolute;
        bottom: 5%;
        left: 2em;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &::before, &::after {
            content: "";
            // position: relative;
            // left: 2px;
            height: 100%;
            border-left: 2px solid var(--color-main-light);
            opacity: 0.4;
        }

        a:first-child {
            padding-top: 15px;
        }

        a:last-child {
            padding-bottom: 15px;
        }

    }
    

}

