@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");
:root {
  --color-dark-main: #721D36;
  --color-dark-second: #183A37;
  --color-light-main: #F1F9F8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-light-main);
  line-height: 1.6;
  background-color: var(--color-dark-main);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color-light-main);
}

img {
  width: 100%;
}

/*  Home site */
.welcome-page {
  width: 100vw;
  height: 100vh;
  background: url("../img/main_photo.jpg") center/cover;
  position: relative;
}

.welcome-page .navbar {
  background-color: black;
  opacity: 0.7;
}

.welcome-page .navbar .navbar-items {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.welcome-page .navbar .navbar-items .logo {
  font-weight: 800;
  font-size: 2rem;
  text-transform: uppercase;
}

.welcome-page .navbar .navbar-items .logo:hover {
  opacity: 0.9;
}

.welcome-page .navbar .navbar-items ul {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.welcome-page .navbar .navbar-items ul li {
  padding: 1.2rem;
  display: flex;
  justify-content: flex-start;
}

.welcome-page .navbar .navbar-items ul li a:hover {
  opacity: 0.9;
}

.welcome-page .socials {
  padding: 20px;
  position: absolute;
  top: 80%;
}

.welcome-page .welcome-text {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 45%;
}

.welcome-page .welcome-text h1, .welcome-page .welcome-text p {
  text-align: center;
}

.welcome-page .welcome-text h1 {
  font-size: 3rem;
  font-weight: 800;
}

.welcome-page .welcome-text p {
  font-weight: 500;
  font-size: 2rem;
}
